<div class="back-button">
  <button (click)="back()" class="p-button p-button-text p-button-plain">
    <i class="pi pi-arrow-left back-icon"></i>
  </button>
</div>
<div class="centered-container">
  <div *ngIf="article" class="article-detail">
    <p-card styleClass="article-card">
      <ng-template pTemplate="content">
        <div class="card-body">
          <!-- Titre + flèche -->

          <div class="flex align-items-center gap-2 mb-3">
            <h2 class="m-0 text-lg font-bold">{{ article.title }}</h2>
          </div>

          <!-- Bloc infos responsive -->
          <div class="grid mb-3">
            <div class="col-12 md:col-3">
              <div class="text-sm font-bold">Date : {{ article.createdAt | date: 'd MMM yyyy' }}</div>
            </div>
            <div class="col-12 md:col-3">
              <div class="text-sm font-bold">Auteur : {{ article.user?.username }}</div>
            </div>
            <div class="col-12 md:col-3">
              <div class="text-sm font-bold">Thème : {{ article.theme.name }}</div>
            </div>
          </div>

          <!-- Contenu de l'article -->
          <p class="article-description">{{ article.content }}</p>
        </div>
      </ng-template>
    </p-card>
  </div>

  <div class="comment-section">
    <h3 class="comment-title">Commentaires</h3>

    <!-- Liste des commentaires -->
    <p-scrollPanel styleClass="comment-scroll-panel">
      <div *ngFor="let comment of sortedComments" class="comment-line">
        <div class="username">{{ comment.author }}</div>
        <div class="comment-content">{{ comment.content }}</div>
      </div>
    </p-scrollPanel>

    <!-- Formulaire pour écrire un commentaire -->
    <form (ngSubmit)="sendComment()" [formGroup]="commentForm" class="comment-form">
      <div class="comment-input-wrapper">
        <textarea
          formControlName="content"
          pInputTextarea
          placeholder="Écrivez ici votre commentaire"
          rows="3"
        ></textarea>
        <button
          [disabled]="commentForm.invalid"
          class="send-btn"
          icon="pi pi-send"
          pButton
          type="submit">
        </button>
      </div>
    </form>
  </div>
</div>
